.flex-page {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  height: 300px;
}

.flex-page-item {
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.button {
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.input {
  padding: 10px;
  border-radius: 10px;
}
