@font-face {
  font-family: 'Roboto Mono';
  src: url('./RobotoMono-Regular.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

/* .hello { */
.another {
  background-color: coral;
  font-family: 'Roboto Mono';
}

.center {
  margin: 0 auto;
}